@import url("css/theme.css");

.toggle .header {
    display: block;
    clear: both;
    padding-top: -10px;
    padding-bottom: 20px;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

/* Custom colors */

.wy-side-nav-search, .wy-nav-top { /* above navigation, behind logo */
    background: #ffebcd; 
}

.icon.icon-home { /* link above logo */
    color: #f89f3d;
}

.version { /* version spec under logo */
    color: #f89f3d !important;
}

.highlight { /* code blocks */
    background: #fff7e9;
} 

.admonition-title { /* notes, title */
    background: #f89f3d !important; 
}

.admonition { /* notes */
    background: #ffebcd !important;
}

.rst-content dl:not(.docutils) dt { /* class definitions */
    background: #e4f3f2;
    color: #005248;
    border-top: solid 3px #005248;
}

.rst-content dl:not(.docutils) dl dt{ /* functions */
    border-left:solid 3px #005248;
    background: #e4f3f2;
    color: #005248;
}